<h1>friends</h1>


<% friends.forEach(function(friend){ %>
	<li><%= friend %></li>
<% }); %>

<form action="/addfriend" method="POST">
	<input type="text" placeholder="name" name="newFriend">
	<button>I made a friend!</button>
</form>